@font-face {
    font-family: 'MyFont';
    src: url('./TencentSans-W3.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100%;
    font-family: 'MyFont';
    color: green;
    background: url('./photo.jpeg');
}

@value v-primary: blue;
@value s-black: black-selector;
@value m-large: (min-width: 960px);

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* .hello {
    font-family: 'MyFont';
    color: green;
    background: url('./photo.jpeg');
} */

button {
    color: v-primary;
}
